.conversation {
  width: 500px;
  border-radius: 2px;
  background-color: #fff;
  padding: 25px;
  overflow-y: scroll;
}

.conversation-wrapper {
  position: relative;
}

.conversation-message {
  margin-bottom: 2px;
  transition: bottom 300ms linear;
  position: absolute;
  left: 0;
  bottom: 0;
}

.conversation-message__text {
  background-color: #3d3d3d;
  padding: 15px 20px;
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  min-width: 50px;
  font-size: 14px;
  border-bottom-left-radius: 0px;
  text-align: left;
}

.conversation-message.conversation-message--me {
  text-align: right;
  left: auto;
  right: 0;
}

.conversation-message--me .conversation-message__text {
  background-color: #aaa;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 0px;
}

.message-enter {
  opacity: 0.01;
}

.conversation-message.message-enter {
  transform: translateX(-20%);
}

.conversation-message.conversation-message--me.message-enter {
  transform: translateX(20%);
}

.conversation-message.message-enter-active,
.conversation-message.conversation-message--me.message-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms linear;
}

.message-exit {
  opacity: 1;
}

.message-exit-active {
  opacity: 0.01;
  transition: all 300ms linear;
}